@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Tilt+Neon&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Tilt Neon', cursive;


}
.logout-btn{
    margin-top: 355px;
    cursor: pointer;
}

body {
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #12141d 100%);
    height: 100vh;
}

.to-do__screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background: radial-gradient(ellipse at bottom, #1B2735 0%, #12141d 100%);*/
    width: 100%;
    height: 100%;
    color: white;
}

.body-to-do{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e4e9ff;
    color: white;

}



.header-text{
    margin-left: 60px;
    color: white;

}

.content h1{
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 550px;
    padding: 20px 0;
    background: transparent;
    margin-top: 20px;
    gap: 15px;
    /*box-shadow: rgba(0,0,0,0.2) 0 5px 15px;*/
    color: white;

}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 400px;
    height: 60px;
    background-color: #2b3a4f;
    color: white;
    box-shadow: rgba(0,0,0,0.15) 0 5px 15px;
}

.task-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    min-width: 400px;
    max-width: 600px;
    min-height: 250px;
    padding: 20px 20px;
    gap: 10px;
    font-size: 13px;
    color: #547aa3;
    background-color: #2f435d;
    flex-wrap: wrap;
}

.task-container h1{
    color: #eaeef4;
}

.task{
    min-width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


/*.circles{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    gap: 25px;*/
/*    color: white;*/

/*}*/

/*.circle{*/
/*    width: 14px;*/
/*    height: 14px;*/
/*    border-radius: 50%;*/
/*    border: 1px solid black;*/
/*    background-color: #af7eeb;*/
/*    color: white;*/


/*}*/





.new-btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    color: white;
    background-color: transparent;
}

.new-btn:hover{
    cursor: pointer;
    background-color: #131721;
    border-radius: 50px;
}

.new-btn{
    background-color: transparent;
    border-radius: 30px;
    border: 2px solid #a7b6d2;
    outline: none;
    padding: 10px 25px;
    color: #a7b6d2;
    transition: 0.2s;
}

.new-btn h2{
    color: white;
}
/*----------------------------------BURGER--------------------------------*/
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
}
.menu-btn__burger {
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-12px);
}
.menu-btn__burger::after {
    transform: translateY(12px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/*-----------------------TASK INFO WINDOW-------------------*/
.task-info-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    z-index: 1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/*===================NEW TASK==============*/

.task-header {
    background-color: #f8f9fa;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.task-header h3 {
    color: #333;
    font-size: 20px;
}

.task-body {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.task-input {
    width: 150px;
    padding: 10px;
    border: #333 solid 1px;
    margin: 10px 0;
    border-radius: 5px;
    color: #1d1e26;
    outline: none;

}

.task-button {
    background-color: #af7eeb;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;

}

.task-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    border-radius: 10px;
    color: white;

}

/*MODAL*/

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    color: white;

    justify-content: center;
}

.modal-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #2b3a4f;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.task-name {
    font-size: 20px; /* Adjust this value as needed */
    color: white;

}

.no-task{
    font-size: 20px;
    color: white;
}

.verification-screen_title{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 100;

}

.user-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100px;
}

.pfp{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #2b3a4f;
    cursor: pointer;
}

.pfp-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.profile {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 10px;
    background-color: #131721;
    border-radius: 10px;
    border: 1px solid #a7b6d2;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown-menu.show {
    display: flex;
}

.dropdown-menu a {
    color: #a7b6d2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: .2s;
}

.dropdown-menu a:hover {
    color: #737d96;
}

.content-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}